.carousel-item img{
    height: 600px;
    object-fit: cover;
}

.head img{
    width: 500px;
    height: 400px;
   object-fit: cover;
}

.about img{
    height: 500px;
    width: 100%;
    object-fit: ;
}

